<h1>TeenShare</h1>
<a href="/signup">sign up</a>
<a href="/signin">sign in</a>
<form action="/createTopic">
    <input type="text" name="title" placeholder="What do you want to share"/>
    <input type="text" name="content"/>
    <input type="submit"/>
</form>