// index.jade
extends ./layout

block content
    h1
        a(href="/") TeenShare
    h2 Information sharing platform for TeenWorks
    nav
        ul
            li
                a(href="/signin") 登录
            li
                a(href="/signup") 注册

