<form action="/doSignup" method="POST">
    <input name="name" type="text" placeholder="name"/>
    <input name="password" type="password" placeholder="password"/>
    <input name="re_password" type="password" placeholder="re-password"/>
    <input type="submit"/>
</form>