<form action="/signup" method="post">
    <input name="username" type="text" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
    <input name="re_password" type="password" placeholder="re-password"/>
    <input type="submit"/>
</form>