<form action="/doSignin" method="post">
    <input name="name" type="text" placeholder="your name"/>
    <input name="password" type="password" placeholder="password"/>
    <input type="submit"/>
</form>
